@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:ital@1&display=swap');

:root{
    --primary-font: 'Merriweather Sans', sans-serif;
    --color-bg: #040C18;
    --color-footer : #031B34;
    --color-background: #042c54;
    --color-text: #3c86cf;
    --color-subtext: #FF8A71;
}

